src/xsd/f003.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="medCompany" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tf_okato"/>
              <xs:element type="xs:string" name="mcod"/>
              <xs:element type="xs:string" name="nam_mop"/>
              <xs:element type="xs:string" name="nam_mok"/>
              <xs:element type="xs:string" name="inn"/>
              <xs:element type="xs:string" name="ogrn"/>
              <xs:element type="xs:string" name="kpp"/>
              <xs:element name="jurAddress">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="index_j"/>
                    <xs:element type="xs:string" name="addr_j"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="okopf" minOccurs="0"/>
              <xs:element type="xs:string" name="okfs" minOccurs="0"/>
              <xs:element type="xs:string" name="vedpri" minOccurs="0"/>
              <xs:element type="xs:string" name="org" minOccurs="0"/>
              <xs:element type="xs:string" name="fam_ruk" minOccurs="0"/>
              <xs:element type="xs:string" name="im_ruk" minOccurs="0"/>
              <xs:element type="xs:string" name="ot_ruk" minOccurs="0"/>
              <xs:element type="xs:string" name="phone" minOccurs="0"/>
              <xs:element type="xs:string" name="fax"/>
              <xs:element type="xs:string" name="e_mail"/>
              <xs:element type="xs:string" name="www"/>
              <xs:element name="medInclude">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="d_begin"/>
                    <xs:element type="xs:string" name="d_end"/>
                    <xs:element type="xs:string" name="name_e"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="medAdvice">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="year_work"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>