src/xsd/f036.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="IDMO"/>
              <xs:element type="xs:string" name="OID_MO"/>
              <xs:element type="xs:string" name="MCOD"/>
              <xs:element type="xs:string" name="UIDMO"/>
              <xs:element type="xs:string" name="FAM_RUK"/>
              <xs:element type="xs:string" name="IM_RUK"/>
              <xs:element type="xs:string" name="OT_RUK"/>
              <xs:element type="xs:string" name="TYPE_RUK"/>
              <xs:element type="xs:string" name="DATEBEG"/>
              <xs:element type="xs:string" name="DATEEND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>