src/xsd/m004.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="entries">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ID"/>
                    <xs:element type="xs:string" name="FULLNAME"/>
                    <xs:element type="xs:string" name="SHORTNAME"/>
                    <xs:element type="xs:string" name="PRINTNAME"/>
                    <xs:element type="xs:string" name="MEASUREMENT"/>
                    <xs:element type="xs:string" name="UCUM" minOccurs="0"/>
                    <xs:element type="xs:string" name="COEFFICIENT" minOccurs="0"/>
                    <xs:element type="xs:string" name="FORMULA" minOccurs="0"/>
                    <xs:element type="xs:string" name="CONVERSION_ID"/>
                    <xs:element type="xs:string" name="CONVERSION_NAME"/>
                    <xs:element type="xs:string" name="OKEI_CODE" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>