src/xsd/v039.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="packet">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zglv">
                    <xs:complexType>
                        <xs:sequence></xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="zap">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="ID_VZ"/>
                            <xs:element type="xs:string" name="N_VZ"/>
                            <xs:element type="xs:string" name="DATEBEG"/>
                            <xs:element type="xs:string" name="DATEEND"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>