reports/NSI052522_CONVERTED/xsd/f033.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="UIDSPMO"/>
              <xs:element type="xs:string" name="IDSPMO"/>
              <xs:element type="xs:string" name="NAM_SPMO"/>
              <xs:element type="xs:string" name="NAM_SK_SPMO"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="OSP"/>
              <xs:element type="xs:string" name="VID_SPMO"/>
              <xs:element type="xs:string" name="OID_SPMO"/>
              <xs:element type="xs:string" name="DATEBEG"/>
              <xs:element type="xs:string" name="DATEEND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>