reports/NSI052522_CONVERTED/xsd/o002.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="TER"/>
              <xs:element type="xs:string" name="KOD1"/>
              <xs:element type="xs:string" name="KOD2"/>
              <xs:element type="xs:string" name="KOD3"/>
              <xs:element type="xs:string" name="RAZDEL"/>
              <xs:element type="xs:string" name="NAME1"/>
              <xs:element type="xs:string" name="CENTRUM"/>
              <xs:element type="xs:string" name="NOMDESCR"/>
              <xs:element type="xs:string" name="NOMAKT"/>
              <xs:element type="xs:string" name="STATUS"/>
              <xs:element type="xs:string" name="DATEUTV"/>
              <xs:element type="xs:string" name="DATEVVED"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>