reports/NSI052522_CONVERTED/xsd/q023.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID_TEST"/>
              <xs:element type="xs:string" name="ID_EL"/>
              <xs:element type="xs:string" name="DESC_TEST"/>
              <xs:element name="TYPE_MD">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TYPE_D" maxOccurs="unbounded" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="NSI_OBJ"/>
              <xs:element type="xs:string" name="NSI_EL"/>
              <xs:element type="xs:string" name="USL_TEST"/>
              <xs:element type="xs:string" name="VAL_EL"/>
              <xs:element type="xs:string" name="COMMENT"/>
              <xs:element type="xs:string" name="DATEBEG"/>
              <xs:element type="xs:string" name="DATEEND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>