xsd/f031.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="IDMO"/>
              <xs:element type="xs:string" name="NAM_MOP"/>
              <xs:element type="xs:string" name="NAM_MOK"/>
              <xs:element type="xs:string" name="INN"/>
              <xs:element type="xs:string" name="KPP"/>
              <xs:element type="xs:string" name="OGRN"/>
              <xs:element type="xs:string" name="OID_MO"/>
              <xs:element type="xs:string" name="OKOPF"/>
              <xs:element type="xs:string" name="OKFS"/>
              <xs:element type="xs:string" name="ADDR_J"/>
              <xs:element type="xs:string" name="ADDR_J_GAR"/>
              <xs:element type="xs:string" name="OKTMO"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="DATEBEG"/>
              <xs:element type="xs:string" name="DATEEND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>