xsd/f032.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="packet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="zglv">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="version"/>
              <xs:element type="xs:string" name="date"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="zap" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="UIDMO"/>
              <xs:element type="xs:string" name="IDMO"/>
              <xs:element type="xs:string" name="MCOD"/>
              <xs:element type="xs:string" name="OKTMO_P"/>
              <xs:element type="xs:string" name="SUBJ"/>
              <xs:element type="xs:string" name="D_BEGIN"/>
              <xs:element type="xs:string" name="D_BEGIN_OMS"/>
              <xs:element type="xs:string" name="D_END"/>
              <xs:element type="xs:string" name="NAME_E"/>
              <xs:element type="xs:string" name="OSP"/>
              <xs:element type="xs:string" name="PARENT_IDMO"/>
              <xs:element type="xs:string" name="PARENT_UIDMO"/>
              <xs:element type="xs:string" name="VID_MO"/>
              <xs:element type="xs:string" name="OID_MO"/>
              <xs:element type="xs:string" name="OID_SPMO"/>
              <xs:element type="xs:string" name="NAM_MOP"/>
              <xs:element type="xs:string" name="NAM_MOK"/>
              <xs:element type="xs:string" name="INN"/>
              <xs:element type="xs:string" name="KPP"/>
              <xs:element type="xs:string" name="OGRN"/>
              <xs:element type="xs:string" name="JURADDRESS_INDEX"/>
              <xs:element type="xs:string" name="JURADDRESS_ADDRESS"/>
              <xs:element type="xs:string" name="GAR_ADDRESS"/>
              <xs:element type="xs:string" name="OKFS"/>
              <xs:element type="xs:string" name="VEDPRI"/>
              <xs:element type="xs:string" name="PHONE"/>
              <xs:element type="xs:string" name="FAX"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:string" name="DATEBEG"/>
              <xs:element type="xs:string" name="DATEEND"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>